@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


.divHome {
  font-family: Roboto;
  font-size: 700;
  display: flex;   
  background-image: url("../../images/Carne.jpg");
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5.5em;
  padding-bottom: 5.5em;
  color: black;
}


.btn2 {
  font-family: Roboto;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 2em;
  box-shadow: 4px 4px 10px 2px rgb(114, 89, 31);
}

.appStore {
  width: 10em;
  height: 3.2em;
}

.separate {
  margin-top: 0.8em;
}

.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 2.5s;
}

.login {
  color: rgb(238, 23, 34);
}

.tiredOfWait {
  font-weight: 700;
  font-size: 2.8em;
}

.alreadyUser {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 250px;
  margin-top: 1em;

}

.alreadyAccount {
  color: rgb(83, 78, 78);
 
}

.sideButons {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 350px;

}

