@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


.divHome {
  font-family: Roboto;
  font-size: 700;
  display: flex;   
  background-image: url("../../images/Carne.jpg");
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 5.5em;
  padding-bottom: 5.5em;
  color: black;
}


.btn2 {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.5em 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 2em;
  box-shadow: 2px 2px 10px rgb(150, 117, 41);
}

.appStore {
  width: 10em;
  height: 3.2em;
}

.separate {
  margin-top: 0.8em;
}


.login {
  color: rgb(238, 23, 34);
}

.tiredOfWait {
  font-weight: 700;
  font-size: 2.8em;
}


.sideBotoms {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 350px;

}