.divSignup {
  background-image: url("./wood.jpg");
  background-size: cover;
  height: 37em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
}

.checkbox{
  margin-right: 2em;
}

.signupForm{
  width: 18em;
  height: 33em;

}

.formSize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25em;
  height: 35em;
  border-radius: 20px;
  background-color: rgba(12, 11, 11, 0.6);
}