.divEditId {
  background-image: url("./pizza.jpg");
  background-size: cover;
  height: 41.4em;
  display: flex;
  justify-content: center;
}


.editIdForm{
  margin-top: 3em;
  width: 70em;
  height: 20em;
  margin-left: 6.3em;
  
  
}

.boton11{
  width: 10em;
}

.formSizeEditId{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  height: 40em;
  border-radius: 20px;
  
  background-color: rgba(0, 0, 0, 0.5);
}

.marginLeft {
  margin-left: 2em;
}