@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC');

.cardDiv {
  
  width: 18em;
  height: 12em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 27px;
  background-color: rgba(133, 19, 34, 0.9);
  border-radius: 2em;
  box-shadow: -7px 0px 17px 4px rgba(0,0,0,0.75);

}
.row {
  margin: 0 6em;
}

.cargando {
  display: flex;
  justify-content: center;
  align-content: center;
}

.linkNone {
 text-decoration: none;
 color: rgb(238, 189, 110) !important;
}
.searchImg {
  display: flex;   
  background-image: url("../SearchRestaurant/food1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 42em;
  flex-direction: column;
  padding-top: 3.3em;
  color: rgb(20, 8, 1) ;
 
}

.perfilDe {
  color: white;
  font-family: Noto Sans SC;
}

.per {
  font-weight: bold;
  font-size: 3em;
  text-decoration: underline;
  margin-bottom: 0.6em;
  padding-left: 2em;
}


